<div class="container pt-5">
    <div class="row">
        <table #dTable class="row-border hover py-5">
            <thead>
              <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Foo</td>
                <td>Bar</td>
                <td>
                    <i class="fa me-2 fa-trash" aria-hidden="true"></i>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Someone</td>
                <td>Youknow</td>
                <td>
                    <i class="fa me-2 fa-trash" aria-hidden="true"></i>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Iamout</td>
                <td>Ofinspiration</td>
                <td>
                    <i class="fa me-2 fa-trash" aria-hidden="true"></i>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Yoda</td>
                <td>Skywalker</td>
                <td>
                    <i class="fa me-2 fa-trash" aria-hidden="true"></i>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>Patrick</td>
                <td>Dupont</td>
                <td>
                    <i class="fa me-2 fa-trash" aria-hidden="true"></i>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>Barack</td>
                <td>Obama</td>
                <td>
                    <i class="fa me-2 fa-trash" aria-hidden="true"></i>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
        </table>
        
    </div>
    <a routerLink="/admin-panel/add-category" class="btn btn-primary">
      Create
    </a>
</div>