<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="brand">
                    <a href="#">Ecommerce</a>
                </div>
                <div class="tel">
                    <label class="tel-label">Got Question? Call Us</label>
                    <div class="tel-number">+0235512546</div>
                </div>
                <div class="address">
                    17 Princess Road, London <br>
                    Grester London NW18JR, UK
                </div>
            </div>
            <div class="col-md-2">
                <div class="brands">
                    <h3 class="footer-title">
                        Menu
                    </h3>
                    <ul class="footer-list">
                        <li>
                            <a href="">
                                Mobiles
                            </a>
                        </li>
                        <li><a href="">Computers</a></li>
                        <li><a href="">Watches</a></li>
                        <li><a href="">Appliances</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="social-media">
                    <h3 class="footer-title">Follow Us</h3>
                    <ul class="social-links">
                        <li class="bg-icon">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="bg-icon">
                            <a href="">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="bg-icon">
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="footer-title">Sign up for Newsletter</h3>
                <form class="d-flex subscribe-box">
                    <input class="subscribe form-control me-2" type="search" 
                    placeholder="Search for products.."
                    aria-label="Search">
                    
                    <button class="btn btn-subscribe" type="submit">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</footer>