.navbar.nav-main{
    background-color: #fff !important;
    .navbar-brand{
        color: #0e8ce4;
        font-size: 30px;
        font-weight: 500;
    }
    .nav-link{
        display: inline-block;
    }
    .search-box{
        margin: auto;
        width: 500px;
        border: 2px solid #0e8ce4;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        height: 50px;
        background-color: #fff;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        .search{
            border: none;
            background-color: transparent;
        }
        .btn-search{
            background: #0e8ce4;
            color: #fff;
            border-radius: 0;
            width: 10%;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        // .filter-categories{
        //     border: none !important;
        //     margin-right: 10px;
        //     color: #a19a9a;
        //     margin-block: 9px;
        //     padding-inline: 15px;
        //     width: 40%;
        //     border-left: 1px solid #ddd !important;
        // }
    }
}

.nav-categories{
    height: 50px;
    background-color: #232f3e;
    .navbar-brand{
        color: #0e8ce4;
        font-size: 30px;
        font-weight: 500;
    }
    .nav-link{
        display: inline-block;
        color: #fff;
    }
}