<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
       data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
       aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex search-box">
            <input class="search form-control me-2" type="search" placeholder="Search for products.." 
            aria-label="Search">
            <select name="" id="" class="filter-categories form-select">
                <option value="1">Computers</option>
                <option value="2">laptops</option>
            </select>
            <button class="btn btn-search" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <a class="nav-link active" aria-current="page" href="#">Login</a>
          </li>
        </ul>
        
      </div>
    </div>
</nav>