ul{
    li{
        a{
            color: rgba(255,255,255,0.9);
            &:hover{
                color: #fff;
            }
        }
    }
}
.sidebar{
    transition: all 0.8s ease-in-out;
    margin-left: -225px;
}
.sidebar.active{
    transition: all 0.8s ease-in-out;
    margin-left: 0px;
}
// .table{
//     table{
//         tbody{
//             tr{
//                 td{
//                     padding-right: 10px;
//                     color: red;
//                 }
//             }
//         }
//     }
// }

td{
    color: red;
}
