<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="img"></div>
            </div>
            <div class="col-md-7 py-3 px-5">
                <div class="product-details">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="product-title">
                                <h2>Xiaomi Redmi 9A</h2>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="product-price">
                                <sup style="font-size: 20px;">EGP</sup>
                                <span>3,299</span>
                                
                            </div>
                        </div>
                        <p class="product-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="qty-label">Qty</p>
                                <div class="product-qty">
                                    <span>-</span>
                                    <input type="number" min="1" value="1">
                                    <span>+</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <button class="btn btn-primary add-to-cart-btn">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
