<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8">
            <div class="products">
                <div class="product-list">
                    <div class="row gx-0 mb-5">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="product-img">
                                    <img src="../../assets/images/camera_1.webp" 
                                    class="" alt="...">
                                </div>
                                <div class="card-body">
                                    <span class="price">$225</span>
                                    <div class="product-name">
                                        <a href="">
                                            Card title
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="product-img">
                                    <img src="../../assets/images/watch_1.webp" 
                                    class="" alt="...">
                                </div>
                                <div class="card-body">
                                    <span class="price">$225</span>
                                    <div class="product-name">
                                        <a href="">
                                            Card title
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="product-img">
                                    <img src="../../assets/images/laptop_1.png" 
                                    class="" alt="...">
                                </div>
                                <div class="card-body">
                                    <span class="price">$225</span>
                                    <div class="product-name">
                                        <a href="">
                                            Card title
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="product-img">
                                    <img src="../../assets/images/mobile_2.webp" 
                                    class="" alt="...">
                                </div>
                                <div class="card-body">
                                    <span class="price">$225</span>
                                    <div class="product-name">
                                        <a href="">
                                            Card title
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row gx-0">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="product-img">
                                    <img src="../../assets/images/camera_1.webp" 
                                    class="" alt="...">
                                </div>
                                <div class="card-body">
                                    <span class="price">$225</span>
                                    <div class="product-name">
                                        <a href="">
                                            Card title
                                        </a>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <a href="#" class="btn btn-primary">Add To cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="product-img">
                                    <img src="../../assets/images/mobile_3.png" 
                                    class="" alt="...">
                                </div>
                                <div class="card-body">
                                    <span class="price">$225</span>
                                    <div class="product-name">
                                        <a href="">
                                            Card title
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="product-img">
                                    <img src="../../assets/images/mobile_2.webp" 
                                    class="" alt="...">
                                </div>
                                <div class="card-body">
                                    <span class="price">$225</span>
                                    <div class="product-name">
                                        <a href="">
                                            Card title
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="product-img">
                                    <img src="../../assets/images/mouse_1.webp" 
                                    class="" alt="...">
                                </div>
                                <div class="card-body">
                                    <span class="price">$225</span>
                                    <div class="product-name">
                                        <a href="">
                                            Card title
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>